{{define "agents"}}
{{template "header" .}}
<div class="content">
    <h2>Agents</h2>
    <div>This is the Agents page</div>
    <ul class="search-results">
      {{ range.AgentResults }}
      <li class="resources-Agent">
        <div>
          <p class="agentId">Agent-ID: {{ .AgentID }}</p>
          <p class="agentName">Agent-Name: {{ .AgentName }}</p>
          <p class="agentCommission">Agent-Commission: {{ .AgentCommission }}</p>
          <br>
        </div>
      </li>
      {{ end }}
    </ul>
</div>
{{template "footer" .}}
{{end}}
<!-- 
<ul class="search-results">
  {{ range.AgentResults }}
  <li class="resources-Agent">
    <div>
      <p class="agentId">Agent-ID: {{ .AgentID }}</p>
      <p class="agentName">Agent-Name: {{ .AgentName }}</p>
      <p class="agentCommission">Agent-Commission: {{ .AgentCommission }}</p>
      <br>
    </div>
  </li>
  {{ end }}
</ul>
-->