{{define "agents"}}
{{template "header" .}}
<div class="content">
  <h2>Agents</h2>
  <div>This is the Agents page</div>

  <div>
    <form action="/agents" method="GET">
      <input
        autofocus
        class="search-input"
        value=""
        placeholder="Search by Agent-ID"
        type="search"
        name="q"
      />
    </form>
  </div>

  <section class="container">
    <ul class="search-results">
      {{ range.AgentResults }}
      <li class="resources">
        <div>
          <p class="description">Agent-ID: {{ .AgentID }}</p>
          <p class="description">Agent-Name: {{ .AgentName }}</p>
          <p class="description">Agent-Commission: {{ .AgentCommission }}</p>
          <br>
          <form action="/deleteAgent" method="DELETE">
            <button 
              autofocus
              value={{ .AgentID }}
              type="submit"
              name="agentID" 
            >Delete Agent</button>
          </form>
        </div>
      </li>
      {{ end }}
    </ul>
  </section>

</div>
{{template "footer" .}}
{{end}}
